@import 'tailwindcss';


/* Smooth scrolling for the entire page */
html {
    scroll-behavior: smooth;
  }
  
  /* Custom scrollbar styling */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #F6AD55;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1A365D;
  }